<div class="form-container">
    <h2>Cadastro de Livro</h2>

    <form [formGroup]="form">
        <div class="form-group">
            <label for="nome">Nome do Livro</label>
            <input id="nome" type="text" formControlName="nome" />
            <div class="error" *ngIf="form.get('nome')?.touched && form.get('nome')?.invalid">
                Nome do livro é obrigatório.
            </div>
        </div>

        <div class="form-group">
            <label for="autor">Autor</label>
            <input id="autor" type="text" formControlName="autor" />
            <div class="error" *ngIf="form.get('autor')?.touched && form.get('autor')?.invalid">
                Autor é obrigatório.
            </div>
        </div>

        <div class="form-group">
            <label for="estoque">Quantidade em Estoque</label>
            <input id="estoque" type="number" formControlName="estoque" min="0" />
            <div class="error" *ngIf="form.get('estoque')?.touched && form.get('estoque')?.invalid">
                Estoque deve ser zero ou maior.
            </div>
        </div>

        <button type="submit" (click)="cadastrarLivro()">Cadastrar Livro</button>
        <h1>{{titulo}}</h1>
        <button type="submit" routerLink="/estante-livros">Voltar para Estante de Livros</button>
    </form>
</div>