<div class="flex flex-colunm gap-2">
  <p-card
    *ngFor="let checklist of checklists"
    styleClass="w-30rem overflow-y-auto"
  >
    <p-accordion [multiple]="true">
      <p-accordion-tab header="CHECKLIST">
        <div class="flex flex-column gap-3">
          <div class="flex flex-column">
            <label>ID</label>
            <input value="{{ checklist.id }}" disabled />
          </div>
          <div class="flex flex-column">
            <label>NOME</label>
            <input value="{{ checklist.nome }}" />
          </div>
          <div class="flex flex-column">
            <label>ID USUÁRIO</label>
            <input value="{{ checklist.idUsuario }}" disabled />
          </div>
          <div class="flex flex-column">
            <label>DATA CRIAÇÃO</label>
            <input
              value="{{ checklist.dataCriacao | date : 'dd/MM/yyyy' }}"
              disabled
            />
          </div>
          <div class="flex flex-column">
            <p-accordion-tab header="ITENS">
              <app-checklist-itens-lista
                [checklist]="checklist"
              ></app-checklist-itens-lista>
            </p-accordion-tab>
          </div>
        </div>
      </p-accordion-tab>
    </p-accordion>
  </p-card>
</div>
