/* Estilos para o Formulário de Edição */
form {
    max-width: 400px;
    margin: 50px auto;
    padding: 2rem;
    background: #E6E6FA;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #6a11cb;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    background: linear-gradient(90deg, #6a11cb 0%, #ffb347 100%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #ffb347;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Container para os Botões de Ação */
  .container-botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  button[name="editar"] {
    flex: 1;
    height: 40px;
    background: linear-gradient(90deg, #6a11cb 0%, #ffb347 100%);
  }
  
  button[name="editar"]:hover {
    background: linear-gradient(90deg, #ffb347 0%, #6a11cb 100%);
  }
  
  .title-container {
    background: linear-gradient(90deg, #6a11cb 0%, #ffb347 100%);
    padding: 1rem;
    text-align: center;
    min-height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  h3 {
    color: white;
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  
  p {
    margin: 0.5rem 1rem;
    font-size: 1rem;
    color: #333;
  }
  
  strong {
    color: #6a11cb;
  }
  
  /* Estilo do Cabeçalho */
  .container-cabecalho h1 {
    font-size: 30px;
    color: #ffb347;
    background: #6a11cb;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
  }
  
  /* Estilo para o Botão Novo */
  button[name="novo"] {
    font-size: 1.5rem;
    border-radius: 10px;
    background: linear-gradient(90deg, #6a11cb 0%, #ffb347 100%);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  
  button[name="novo"]:hover {
    background: linear-gradient(90deg, #ffb347 0%, #6a11cb 100%);
  }
  